.snsForSignUp button {
  display: flex;
  justify-content: space-between;
  /* width: 320px; */
  height: 34px;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  letter-spacing: -0.7px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  cursor: pointer;
}
.snsForSignUp button:hover {
  opacity: 0.8;
}
.snsForSignUp .kakao {
  margin-top: 1.5rem;
  border: none;
  background-color: #ffe22a;
}
.snsForSignUp .naver {
  border: none;
  background-color: #03cf5c;
  color: #fff;
}
.snsForSignUp .google {
  border: none;
  background-color: #ea4235;
  color: #fff;
}
.snsForSignUp .facebook {
  border: none;
  background-color: #395aa1;
  color: #fff;
}
