.sns_signup button {
  display: flex;
  align-items: center;
  width: 160px;
  height: 32px;
  background: url('../../images/bg_sns.png') no-repeat;
  margin-bottom: 0.5rem;
  padding-left: 42px;
  border: none;
  letter-spacing: -0.7px;
  font-size: 0.78rem;
  cursor: pointer;
}
.sns_signup .kakao {
  margin-top: 1.5rem;
}
.sns_signup .naver {
  background-position-y: -64px;
}
.sns_signup .google {
  background-position-y: -96px;
}
.sns_signup .facebook {
  background-position-y: -32px;
}
